<!DOCTYPE html>
<html lang="en">
<head>
  <title>File Split</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="ml-auto">
      <a class="btn btn-outline-primary" href="/merge">File Merge</a>
        </div>
      </nav>
<div class="container mt-5" >
  <h2 class="text-center">File Split</h2>
  <div class="card mt-5">
    <div class="card-body">
        <form action="/split_processing" method="POST" enctype="multipart/form-data">
            <div class="row">
            <div class="form-group text-center" style="margin:0 auto;">
                <label for="exampleFormControlFile1 "><strong> Upload File:</strong></label>
                <input type="file" class="form-control-file" id="file" name='file' accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  required>
              </div>
            </div>
            <div class="row">
                <div class="form-group text-center mt-4" style="margin:0 auto;">
                    <label for="exampleFormControlFile1 "><strong> Header Rows:</strong></label>
                    <input type="number" name="header" class="form-control" min="1" max="10" required>
                <p class="mt-1"> Copy header rows into each file.</p>  
                </div>
            </div>
            <div class="row">
                <div class="form-group text-center mt-4" style="margin:0 auto;">
                    <label for="exampleFormControlFile1 "><strong> Skip Rows:</strong></label>
                    <input type="number" name="skip" class="form-control" min="0" max="1000" required>
                <p class="mt-1">Skip a number of rows at <br>the beginning of the file.</p>  
                </div>
            </div>
            <div class="row mt-5">
                <ul class="nav nav-tabs" role="tablist" style="margin: 0 auto;">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home" onclick="home()">Lines</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#menu1" onclick="files()">Number of Files</a>
                    </li>
                  </ul>
                
                  
            </div>
            <div class="tab-content  ">
                <div class="tab-pane row active" id="home" >
                    <div class="form-group text-center col-3 mt-4"  style="margin:0 auto;">
                        <label for="exampleFormControlFile1 "><strong> Limit (lines):</strong></label>
                        <input type="number" name="lines" class="form-control" id="lines" min="1" max="1000" required>
                    <p class="mt-1"> Number of lines per file.<br>Each line is counted separately, even if it is part of a single record. All lines that are part of a single record will be written to the same file.
                    </p>  
                    </div>
                </div>
                <div class=" tab-pane row fade " id="menu1">
                    <div class="form-group text-center col-3 mt-4" style="margin:0 auto;">
                        <label for="exampleFormControlFile1 "><strong> Limit (Number of files):</strong></label>
                        <input type="number" name="files" class="form-control" min="1" max="50" id="files" >
                    <p class="mt-1"> Number of files to split into.</p>  
                    </div>
                </div>
              </div>
            <div class="row text-center mt-5">
                <button class="btn btn-outline-success btn-lg" style="margin: 0 auto;" > Submit</button>
              </div>
            </form>

        </div>
        </div>
  </div>
  <script>
    function home(){
      document.getElementById("lines").required = true
      document.getElementById("files").required = false
    }
    function files(){
      document.getElementById("lines").required = false
      document.getElementById("files").required = true
    }
    </script>
  </body>
  </html>